<h1>Create a new Portfolio Item </h1>

<%= form_for @portfolio_item do |f| %>
    
    <%= f.label :title, "Portfolio Item Title: " %>
    <%= f.text_field :title %>

    <%= f.label :subtitle, "Portfolio Item Subtitle: " %>
    <%= f.text_field :subtitle %>

    <%= f.label :body, "Portfolio Item Body: " %>
    <%= f.text_field :body %>

    <ul>
        <%= f.fields_for :technologies do |technology_form| %>
            <li>
                <%= technology_form.label :name %>
                <%= technology_form.text_field :name %>
            </li>
        <% end %>
    </ul>

    <%= f.submit %>
<% end %>