<h1>Create a new Portfolio Item </h1>

<%= form_for @portfolio_item do |f| %>
    
    <%= f.label :title, "Portfolio Item Title: " %>
    <%= f.text_field :title %>

    <%= f.label :subtitle, "Portfolio Item Subtitle: " %>
    <%= f.text_field :subtitle %>

    <%= f.label :body, "Portfolio Item Body: " %>
    <%= f.text_field :body %>

    <%= f.submit %>
<% end %>